
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .logo img{
    margin: 20px;
    height: 80px;
  }
  .container {
    background-color: black;
    opacity:.80;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: min(90%, 31.25em);
    padding: 3.75em 0;
    border-radius: 0.8em;
    box-shadow: 0 1.97em 3.75em rgba(1, 87, 185, 0.2);
  }
  .timer-display {
    position: relative;
    width: 110%;
    /* background-color: rgb(37, 129, 129); */
    background: url(inner\ bg.jpg);
    background-size: cover;
    left: -5%;
    padding: 1em 0;
    font-family: "Roboto Mono", monospace;
    color: #f0f9ff;
    font-size: 2.8em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3em;
    text-shadow: black 20px 20px 20px 20px;
    box-shadow: 0 0.5em 1em rgba(1, 87, 185, 0.2);
  }
  .buttons {
    width: 80%;
    margin: 3.8em auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .buttons button {
    font-size: 1em; font-weight: 1000;
    background-color: #dbe9ff;
    color: rgb(21, 70, 70);
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    cursor: pointer;
    outline: none;
  }
  .buttons button:hover{
    background-color:rgb(21, 70, 70);
    color:#dbe9ff;
    transition: .5s;
  }
